In [1]:
from selenium import webdriver
from selenium.webdriver.edge.service import Service
from selenium.common.exceptions import WebDriverException
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select
from bs4 import BeautifulSoup as bs
from time import sleep
import requests
import pandas as pd
import numpy as np

In [2]:
# Make a url list
url_base = 'https://hoopshype.com/salaries/players/'
url_list = []
a = 2021

while a >= 1996:
    b = a+1
    new_url = url_base + str(a) + "-" + str(b)
    a -=1
    url_list.append(new_url)

In [3]:
url_list[:5]

['https://hoopshype.com/salaries/players/2021-2022',
 'https://hoopshype.com/salaries/players/2020-2021',
 'https://hoopshype.com/salaries/players/2019-2020',
 'https://hoopshype.com/salaries/players/2018-2019',
 'https://hoopshype.com/salaries/players/2017-2018']

In [4]:
dataframe_list = []
n=1 # Make a counter to see how many webpages are scraped

# Scrape stat table for each url in url_list
for url in url_list:

    # provide path to the Edge driver
    s=Service("C:\\Users\sandr\OneDrive\Desktop\Drivers\msedgedriver.exe")
    driver = webdriver.Edge(service=s)
    
    # Make python pause for some time
    sleep(2)

    # Get the page HTML
    try:
        driver.get(url)
        # Make python pause for some time
        sleep(3)
    except WebDriverException:
        print("Webdriver is acting immediately after ‘closing’ the browser")

    # Make python pause for some time
    sleep(2)

    # Use BeautifulSoup and lxml extension to parse, save in variable nba_soup
    nba_soup = bs(driver.page_source, 'lxml')
    
    # Locate the table on the page
    table = nba_soup.find('table', class_='hh-salaries-ranking-table hh-salaries-table-sortable responsive')
   
    # Find all the headers in the columns
    headers=[]
    for i in table.find_all('td')[1:4]:
        title = i.text.replace("\n", "").strip()
        headers.append(title)
    
    # Create a dataframe using the headers as column names
    p_salary = pd.DataFrame(columns = headers) 
    
    # Create a for loop to fill p_salary
    for i in table.find_all('tr')[1:]:
        row_data = i.find_all('td')[1:]
        row =[j.text.replace("\n", "").strip() for j in row_data] 
        length = len(p_salary)
        p_salary.loc[length] = row

    print("Completed:", n, "webpage(s) scraped.")
    n +=1 # add 1 to counter every successful page retrieved
        
    # Close all browsers
    driver.quit()

    # Append table to list of dataframes
    dataframe_list.append(p_salary)

Completed: 1 webpage(s) scraped.
Completed: 2 webpage(s) scraped.
Completed: 3 webpage(s) scraped.
Completed: 4 webpage(s) scraped.
Completed: 5 webpage(s) scraped.
Completed: 6 webpage(s) scraped.
Completed: 7 webpage(s) scraped.
Completed: 8 webpage(s) scraped.
Completed: 9 webpage(s) scraped.
Completed: 10 webpage(s) scraped.
Completed: 11 webpage(s) scraped.
Completed: 12 webpage(s) scraped.
Completed: 13 webpage(s) scraped.
Completed: 14 webpage(s) scraped.
Completed: 15 webpage(s) scraped.
Completed: 16 webpage(s) scraped.
Completed: 17 webpage(s) scraped.
Completed: 18 webpage(s) scraped.
Completed: 19 webpage(s) scraped.
Completed: 20 webpage(s) scraped.
Completed: 21 webpage(s) scraped.
Completed: 22 webpage(s) scraped.
Completed: 23 webpage(s) scraped.
Completed: 24 webpage(s) scraped.
Completed: 25 webpage(s) scraped.
Completed: 26 webpage(s) scraped.

In [5]:
dataframe_list

[                Player      2021/22   2021/22(*)
 0        Stephen Curry  $45,780,966  $45,780,966
 1         James Harden  $44,310,840  $44,310,840
 2            John Wall  $44,310,840  $44,310,840
 3    Russell Westbrook  $44,211,146  $44,211,146
 4         Kevin Durant  $42,018,900  $42,018,900
 ..                 ...          ...          ...
 648     Anthony Barber      $53,176      $53,176
 649       Luca Vildoza      $42,789      $42,789
 650     Zavier Simpson      $37,223      $37,223
 651  Mfiondu Kabengele      $19,186      $19,186
 652     Melvin Frazier      $13,294      $13,294

 [653 rows x 3 columns],
                 Player      2020/21   2020/21(*)
 0        Stephen Curry  $43,006,362  $45,325,029
 1    Russell Westbrook  $41,358,814  $43,588,654
 2           Chris Paul  $41,358,814  $43,588,654
 3            John Wall  $41,254,920  $43,479,158
 4         James Harden  $41,254,920  $43,479,158
 ..                 ...          ...          ...
 573       Cam Reynolds      $33,299      $35,094
 574       Andrew White      $25,000      $26,347
 575         Tyler Hall      $25,000      $26,347
 576      Elijah Bryant      $24,611      $25,937
 577     Caleb Homesley      $20,000      $21,078

 [578 rows x 3 columns],
                 Player      2019/20   2019/20(*)
 0        Stephen Curry  $40,231,758  $42,674,629
 1           Chris Paul  $38,506,482  $40,844,595
 2    Russell Westbrook  $38,506,482  $40,844,595
 3            John Wall  $38,199,000  $40,518,442
 4         James Harden  $38,199,000  $40,518,442
 ..                 ...          ...          ...
 510    Jeremiah Martin      $79,568      $84,399
 511     Tremont Waters      $79,568      $84,399
 512         Tacko Fall      $79,568      $84,399
 513      Charlie Brown      $79,568      $84,399
 514       Malik Newman      $65,978      $69,984

 [515 rows x 3 columns],
                 Player      2018/19   2018/19(*)
 0        Stephen Curry  $37,457,154  $40,386,520
 1    Russell Westbrook  $35,665,000  $38,454,209
 2         LeBron James  $35,654,150  $38,442,511
 3           Chris Paul  $35,654,150  $38,442,511
 4           Kyle Lowry  $32,700,000  $35,257,329
 ..                 ...          ...          ...
 571    Michael Frazier      $47,370      $51,074
 572     Tahjere McCall      $47,370      $51,074
 573     Mitchell Creek      $47,370      $51,074
 574    Isaac Humphries      $47,370      $51,074
 575      Jordan Sibert      $47,370      $51,074

 [576 rows x 3 columns],
                   Player      2017/18   2017/18(*)
 0          Stephen Curry  $34,682,550  $38,468,739
 1           LeBron James  $33,285,709  $36,919,409
 2           Paul Millsap  $30,769,231  $34,128,215
 3         Gordon Hayward  $29,727,900  $32,973,205
 4          Blake Griffin  $29,512,900  $32,734,734
 ..                   ...          ...          ...
 581         Andre Ingram      $46,079      $51,109
 582  Trey McKinney-Jones      $46,079      $51,109
 583        Aaron Jackson      $46,079      $51,109
 584        Jameel Warney      $46,079      $51,109
 585   Marcus Thornton II      $46,079      $51,109

 [586 rows x 3 columns],
                 Player      2016/17   2016/17(*)
 0         LeBron James  $30,963,450  $34,904,635
 1        DeMar DeRozan  $26,540,100  $29,918,259
 2    Russell Westbrook  $26,540,100  $29,918,259
 3          Mike Conley  $26,540,100  $29,918,259
 4         James Harden  $26,540,100  $29,918,259
 ..                 ...          ...          ...
 540   Nikola Jovanovic      $30,000      $33,818
 541        Tony Wroten      $25,000      $28,182
 542      Nick Zeisloft      $25,000      $28,182
 543        Jalen Jones      $25,000      $28,182
 544      Dahntay Jones      $24,022      $27,079

 [545 rows x 3 columns],
                      Player      2015/16   2015/16(*)
 0               Kobe Bryant  $25,000,000  $28,463,195
 1              LeBron James  $22,970,500  $26,152,553
 2           Carmelo Anthony  $22,875,000  $26,043,823
 3             Dwight Howard  $22,359,364  $25,456,757
 4               Joe Johnson  $22,309,344  $25,399,808
 ..                      ...          ...          ...
 495              JJ O'Brien      $30,887      $35,165
 496  Thanasis Antetokounmpo      $30,887      $35,165
 497           Nate Robinson      $26,456      $30,120
 498           Dorell Wright      $17,637      $20,080
 499            John Holland       $9,266      $10,549

 [500 rows x 3 columns],
                Player      2014/15   2014/15(*)
 0         Kobe Bryant  $23,500,000  $26,788,519
 1         Joe Johnson  $23,180,790  $26,424,639
 2     Carmelo Anthony  $22,458,401  $25,601,161
 3    Amare Stoudemire  $21,896,658  $24,960,810
 4       Dwight Howard  $21,436,271  $24,435,998
 ..                ...          ...          ...
 508       Sim Bhullar      $35,000      $39,897
 509        David Wear      $29,843      $34,019
 510   Sean Kilpatrick      $29,843      $34,019
 511      Jarell Eddie      $29,843      $34,019
 512        Josh Davis      $20,000      $22,798

 [513 rows x 3 columns],
                Player      2013/14   2013/14(*)
 0         Kobe Bryant  $30,453,000  $35,433,903
 1       Dirk Nowitzki  $22,721,381  $26,437,698
 2      Gilbert Arenas  $22,346,536  $26,001,543
 3    Amare Stoudemire  $21,679,893  $25,225,864
 4     Carmelo Anthony  $21,490,000  $25,004,912
 ..                ...          ...          ...
 487    Mustafa Shakur      $46,404      $53,993
 488       DJ Stephens      $28,834      $33,550
 489     Tony Mitchell      $28,834      $33,550
 490     Shane Edwards      $28,834      $33,550
 491       Vander Blue      $28,834      $33,550

 [492 rows x 3 columns],
                Player      2012/13   2012/13(*)
 0         Kobe Bryant  $27,849,000  $32,972,493
 1         Brandon Roy  $21,459,805  $25,407,851
 2       Dirk Nowitzki  $20,907,128  $24,753,497
 3      Gilbert Arenas  $20,807,922  $24,636,039
 4    Amare Stoudemire  $19,948,799  $23,618,860
 ..                ...          ...          ...
 489    Justin Dentmon      $44,835      $53,083
 490      Josh Akognon      $41,788      $49,475
 491        Eddy Curry      $31,629      $37,447
 492      Chris Wright      $27,859      $32,984
 493        Henry Sims      $25,073      $29,685

 [494 rows x 3 columns],
                Player      2011/12   2011/12(*)
 0         Kobe Bryant  $25,244,493  $30,386,173
 1        Vince Carter  $21,300,000  $25,638,283
 2       Kevin Garnett  $21,247,044  $25,574,542
 3          Tim Duncan  $21,164,619  $25,475,329
 4       Rashard Lewis  $21,136,631  $25,441,641
 ..                ...          ...          ...
 458         Ike Diogu      $64,028      $77,068
 459          Ben Uzoh      $61,433      $73,945
 460      Andre Emmett      $61,433      $73,945
 461      Garret Siler      $51,097      $61,504
 462  Courtney Fortson      $42,009      $50,565

 [463 rows x 3 columns],
             Player      2010/11   2010/11(*)
 0      Kobe Bryant  $24,806,250  $30,921,289
 1    Rashard Lewis  $19,573,711  $24,398,866
 2    Kevin Garnett  $18,800,000  $23,434,426
 3       Tim Duncan  $18,700,000  $23,309,775
 4     Michael Redd  $18,300,000  $22,811,170
 ..             ...          ...          ...
 454   Maurice Ager      $83,305     $103,840
 455  Bobby Simmons      $71,951      $89,687
 456   Matt Janning      $58,504      $72,925
 457  Ronald Dupree      $58,393      $72,787
 458    Larry Owens      $55,718      $69,453

 [459 rows x 3 columns],
                Player      2009/10   2009/10(*)
 0       Tracy McGrady  $23,239,562  $29,273,532
 1         Kobe Bryant  $23,034,375  $29,015,070
 2     Jermaine O'Neal  $23,016,000  $28,991,924
 3          Tim Duncan  $22,183,220  $27,942,919
 4    Shaquille O'Neal  $20,000,000  $25,192,843
 ..                ...          ...          ...
 451       Mike Harris      $64,978      $81,849
 452    Cedric Jackson      $53,834      $67,811
 453       Will Conroy      $48,559      $61,166
 454     Chris Richard      $43,319      $54,566
 455     JamesOn Curry      $26,917      $33,905

 [456 rows x 3 columns],
                Player      2008/09   2008/09(*)
 0       Kevin Garnett  $24,751,934  $30,733,731
 1     Jermaine O'Neal  $21,372,000  $26,536,969
 2          Jason Kidd  $21,372,000  $26,536,969
 3         Kobe Bryant  $21,262,500  $26,401,006
 4    Shaquille O'Neal  $21,000,000  $26,075,067
 ..                ...          ...          ...
 455       Andre Brown     $107,908     $133,986
 456  Demetris Nichols      $87,893     $109,134
 457     Desmon Farmer      $83,708     $103,937
 458   Richard Hendrix      $57,215      $71,042
 459      Dwayne Jones      $46,812      $58,125

 [460 rows x 3 columns],
                Player      2007/08   2007/08(*)
 0       Kevin Garnett  $23,750,000  $30,970,569
 1      Michael Finley  $21,696,750  $28,293,081
 2    Shaquille O'Neal  $20,000,000  $26,080,479
 3     Jermaine O'Neal  $19,728,000  $25,725,784
 4          Jason Kidd  $19,728,000  $25,725,784
 ..                ...          ...          ...
 464    Thomas Gardner     $101,451     $132,294
 465      Orien Greene      $77,061     $100,489
 466    Guillermo Diaz      $56,065      $73,110
 467    Stephane Lasme      $48,056      $62,666
 468   DerMarr Johnson      $42,203      $55,033

 [469 rows x 3 columns],
                Player      2006/07   2006/07(*)
 0       Kevin Garnett  $21,000,000  $28,120,335
 1    Shaquille O'Neal  $20,000,000  $26,781,271
 2      Michael Finley  $19,030,999  $25,483,716
 3        Chris Webber  $18,261,024  $24,452,671
 4     Jermaine O'Neal  $18,084,000  $24,215,625
 ..                ...          ...          ...
 490  Kevin Pittsnogle      $50,000      $66,953
 491       Will Conroy      $35,378      $47,372
 492    Casey Jacobsen      $31,250      $41,845
 493         Von Wafer      $24,300      $32,539
 494     Renaldo Major      $20,133      $26,959

 [495 rows x 3 columns],
                Player      2005/06   2005/06(*)
 0    Shaquille O'Neal  $20,000,000  $27,937,892
 1        Chris Webber  $19,125,000  $26,715,609
 2       Allan Houston  $19,125,000  $26,715,609
 3      Michael Finley  $18,612,500  $25,999,700
 4       Kevin Garnett  $18,000,000  $25,144,102
 ..                ...          ...          ...
 474    Ben Handlogten      $35,091      $49,018
 475        John Lucas      $34,041      $47,551
 476    Kaniel Dickens      $31,305      $43,729
 477    Melvin Sanders      $24,315      $33,965
 478       Alex Scales      $24,315      $33,965

 [479 rows x 3 columns],
                  Player      2004/05   2004/05(*)
 0      Shaquille O'Neal  $27,696,430  $39,667,945
 1       Dikembe Mutombo  $19,485,719  $27,908,233
 2          Chris Webber  $17,531,250  $25,108,964
 3         Allan Houston  $17,531,250  $25,108,964
 4         Kevin Garnett  $16,000,000  $22,915,846
 ..                  ...          ...          ...
 465  Courtney Alexander      $79,029     $113,188
 466    Tremaine Fowlkes      $79,029     $113,188
 467       Geno Carlisle      $65,779      $94,211
 468     Britton Johnsen      $45,369      $64,979
 469      Anthony Miller      $34,118      $48,865

 [470 rows x 3 columns],
                Player      2003/04   2003/04(*)
 0       Kevin Garnett  $28,000,000  $41,412,563
 1    Shaquille O'Neal  $24,749,999  $36,605,747
 2     Dikembe Mutombo  $17,714,291  $26,199,792
 3     Rasheed Wallace  $17,000,000  $25,143,342
 4        Chris Webber  $15,937,500  $23,571,883
 ..                ...          ...          ...
 449        Shane Heal      $75,615     $111,836
 450    Torraye Braggs      $53,697      $79,418
 451   Britton Johnsen      $44,748      $66,183
 452      Jelani McCoy      $36,643      $54,195
 453      Derrick Dial      $32,375      $47,883

 [454 rows x 3 columns],
                Player      2002/03   2002/03(*)
 0       Kevin Garnett  $25,200,000  $38,058,583
 1    Shaquille O'Neal  $23,571,429  $35,599,015
 2     Alonzo Mourning  $20,629,800  $31,156,387
 3        Juwan Howard  $20,625,000  $31,149,138
 4      Scottie Pippen  $19,727,524  $29,793,715
 ..                ...          ...          ...
 446        Mike Wilks      $55,402      $83,671
 447      Rafer Alston      $37,344      $56,399
 448       Devin Brown      $34,946      $52,777
 449        Guy Rucker      $34,946      $52,777
 450      Paul Shirley      $29,832      $45,054

 [451 rows x 3 columns],
                Player      2001/02   2001/02(*)
 0       Kevin Garnett  $22,400,000  $34,190,957
 1    Shaquille O'Neal  $21,428,572  $32,708,187
 2     Alonzo Mourning  $18,754,800  $28,626,989
 3        Juwan Howard  $18,750,000  $28,619,662
 4      Scottie Pippen  $18,083,564  $27,602,426
 ..                ...          ...          ...
 445      Charlie Bell      $89,292     $136,293
 446     Tang Hamilton      $60,881      $92,927
 447       Joe Crispin      $48,705      $74,342
 448    Mike Penberthy      $28,405      $43,356
 449   Dickey Simpkins      $26,190      $39,975

 [450 rows x 3 columns],
                Player      2000/01   2000/01(*)
 0       Kevin Garnett  $19,610,000  $30,904,632
 1    Shaquille O'Neal  $19,285,715  $30,393,570
 2     Alonzo Mourning  $16,880,000  $26,602,253
 3        Juwan Howard  $16,875,000  $26,594,373
 4     Hakeem Olajuwon  $16,700,000  $26,318,580
 ..                ...          ...          ...
 450       Mark Blount     $316,969     $499,531
 451     Hanno Mottola     $316,969     $499,531
 452      Mark Karcher      $50,000      $78,798
 453    Jamal Robinson      $40,000      $63,038
 454    Anthony Miller      $40,000      $63,038

 [455 rows x 3 columns],
                Player      1999/00   1999/00(*)
 0    Shaquille O'Neal  $17,142,858  $28,024,343
 1       Kevin Garnett  $16,806,300  $27,474,154
 2     Alonzo Mourning  $15,004,800  $24,529,146
 3        Juwan Howard  $15,000,000  $24,521,299
 4       Patrick Ewing  $15,000,000  $24,521,299
 ..                ...          ...          ...
 511        Andy Panko       $5,000       $8,173
 512    Steve Goodrich       $4,529       $7,403
 513     Trevor Winter       $4,529       $7,403
 514        Ira Bowman       $4,529       $7,403
 515      Jason Sasser       $2,706       $4,423

 [516 rows x 3 columns],
                Player      1998/99   1998/99(*)
 0       Patrick Ewing  $18,500,000  $30,836,662
 1    Shaquille O'Neal  $15,000,000  $25,002,699
 2      David Robinson  $14,841,000  $24,737,670
 3       Kevin Garnett  $14,000,000  $23,335,852
 4     Alonzo Mourning  $13,130,000  $21,885,696
 ..                ...          ...          ...
 421      Kornel David     $287,500     $479,218
 422       Brad Miller     $287,500     $479,218
 423    Marlon Garnett     $287,500     $479,218
 424       Damon Jones     $287,500     $479,218
 425  Jeffrey Sheppard     $287,500     $479,218

 [426 rows x 3 columns],
                Player      1997/98   1997/98(*)
 0      Michael Jordan  $33,140,000  $56,169,715
 1       Patrick Ewing  $20,500,000  $34,745,901
 2        Horace Grant  $14,285,714  $24,213,171
 3    Shaquille O'Neal  $12,857,143  $21,791,854
 4      David Robinson  $12,397,440  $21,012,694
 ..                ...          ...          ...
 439     Patrick Savoy      $25,000      $42,373
 440         Ben Davis      $25,000      $42,373
 441    Amal McCaskill      $20,700      $35,084
 442      Nate Huffman      $20,000      $33,898
 443     Todd Lindeman      $15,000      $25,423

 [444 rows x 3 columns],
                Player      1996/97   1996/97(*)
 0      Michael Jordan  $30,140,000  $52,258,566
 1        Horace Grant  $14,857,000  $25,759,971
 2       Reggie Miller  $11,250,000  $19,505,934
 3    Shaquille O'Neal  $10,714,000  $18,576,585
 4         Gary Payton  $10,212,000  $17,706,187
 ..                ...          ...          ...
 410    Stephen Howard     $181,100     $314,002
 411       Henry James     $181,100     $314,002
 412    Aaron Williams     $169,000     $293,022
 413    Robert Werdann     $166,000     $287,820
 414  Gaylon Nickerson     $152,900     $265,107

 [415 rows x 3 columns]]

In [97]:
# Merge the dataframes
from functools import reduce
test = reduce(lambda l, r: pd.merge(l, r, on='Player', how='outer'), dataframe_list)
test

,Player,2021/22,2021/22(*),2020/21,2020/21(*),2019/20,2019/20(*),2018/19,2018/19(*),2017/18,...,2000/01,2000/01(*),1999/00,1999/00(*),1998/99,1998/99(*),1997/98,1997/98(*),1996/97,1996/97(*)
0,Stephen Curry,"$45,780,966","$45,780,966","$43,006,362","$45,325,029","$40,231,758","$42,674,629","$37,457,154","$40,386,520","$34,682,550",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,James Harden,"$44,310,840","$44,310,840","$41,254,920","$43,479,158","$38,199,000","$40,518,442","$30,570,000","$32,960,751","$28,299,399",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,John Wall,"$44,310,840","$44,310,840","$41,254,920","$43,479,158","$38,199,000","$40,518,442","$19,169,800","$20,668,989","$18,063,850",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Russell Westbrook,"$44,211,146","$44,211,146","$41,358,814","$43,588,654","$38,506,482","$40,844,595","$35,665,000","$38,454,209","$28,299,399",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Kevin Durant,"$42,018,900","$42,018,900","$40,108,950","$42,271,404","$37,199,000","$39,457,722","$30,000,000","$32,346,173","$25,000,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2486,Brett Szabo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$220,000","$381,449"
2487,Earl Cureton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$205,200","$355,788"
2488,Kenny Smith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$190,100","$329,606"
2489,Lloyd Daniels,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$184,100","$319,203"
2490,Gaylon Nickerson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$152,900","$265,107"

In [98]:
# Save file, jic
test.to_csv('nba_salaries_uncleaned.csv', encoding='utf-8', index=False)

In [99]:
nba_sal = pd.read_csv('nba_salaries_uncleaned.csv', encoding='utf-8')
nba_sal

,Player,2021/22,2021/22(*),2020/21,2020/21(*),2019/20,2019/20(*),2018/19,2018/19(*),2017/18,...,2000/01,2000/01(*),1999/00,1999/00(*),1998/99,1998/99(*),1997/98,1997/98(*),1996/97,1996/97(*)
0,Stephen Curry,"$45,780,966","$45,780,966","$43,006,362","$45,325,029","$40,231,758","$42,674,629","$37,457,154","$40,386,520","$34,682,550",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,James Harden,"$44,310,840","$44,310,840","$41,254,920","$43,479,158","$38,199,000","$40,518,442","$30,570,000","$32,960,751","$28,299,399",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,John Wall,"$44,310,840","$44,310,840","$41,254,920","$43,479,158","$38,199,000","$40,518,442","$19,169,800","$20,668,989","$18,063,850",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Russell Westbrook,"$44,211,146","$44,211,146","$41,358,814","$43,588,654","$38,506,482","$40,844,595","$35,665,000","$38,454,209","$28,299,399",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Kevin Durant,"$42,018,900","$42,018,900","$40,108,950","$42,271,404","$37,199,000","$39,457,722","$30,000,000","$32,346,173","$25,000,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2486,Brett Szabo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$220,000","$381,449"
2487,Earl Cureton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$205,200","$355,788"
2488,Kenny Smith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$190,100","$329,606"
2489,Lloyd Daniels,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$184,100","$319,203"
2490,Gaylon Nickerson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$152,900","$265,107"

## Clean and Prep Data

In [100]:
nba_sal.columns

Index(['Player', '2021/22', '2021/22(*)', '2020/21', '2020/21(*)', '2019/20',
       '2019/20(*)', '2018/19', '2018/19(*)', '2017/18', '2017/18(*)',
       '2016/17', '2016/17(*)', '2015/16', '2015/16(*)', '2014/15',
       '2014/15(*)', '2013/14', '2013/14(*)', '2012/13', '2012/13(*)',
       '2011/12', '2011/12(*)', '2010/11', '2010/11(*)', '2009/10',
       '2009/10(*)', '2008/09', '2008/09(*)', '2007/08', '2007/08(*)',
       '2006/07', '2006/07(*)', '2005/06', '2005/06(*)', '2004/05',
       '2004/05(*)', '2003/04', '2003/04(*)', '2002/03', '2002/03(*)',
       '2001/02', '2001/02(*)', '2000/01', '2000/01(*)', '1999/00',
       '1999/00(*)', '1998/99', '1998/99(*)', '1997/98', '1997/98(*)',
       '1996/97', '1996/97(*)'],
      dtype='object')

In [101]:
# Keep only columns that show current US Dollars adjusted for inflation, those columns with *
nba_sal = nba_sal.drop(['2021/22','2020/21', '2019/20', '2018/19', '2017/18',
                       '2016/17', '2015/16', '2014/15', '2013/14', '2012/13',
                       '2011/12', '2010/11', '2009/10', '2008/09', '2007/08',
                       '2006/07', '2005/06', '2004/05', '2003/04', '2002/03',
                       '2001/02', '2000/01', '1999/00', '1998/99', '1997/98',
                       '1996/97'], axis=1)

In [102]:
nba_sal

,Player,2021/22(*),2020/21(*),2019/20(*),2018/19(*),2017/18(*),2016/17(*),2015/16(*),2014/15(*),2013/14(*),...,2005/06(*),2004/05(*),2003/04(*),2002/03(*),2001/02(*),2000/01(*),1999/00(*),1998/99(*),1997/98(*),1996/97(*)
0,Stephen Curry,"$45,780,966","$45,325,029","$42,674,629","$40,386,520","$38,468,739","$13,654,081","$12,945,956","$12,116,632","$11,504,868",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,James Harden,"$44,310,840","$43,479,158","$40,518,442","$32,960,751","$31,388,759","$29,918,259","$17,896,589","$16,750,126","$15,904,415",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,John Wall,"$44,310,840","$43,479,158","$40,518,442","$20,668,989","$20,035,826","$17,761,997","$16,769,198","$15,618,561","$8,680,071",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Russell Westbrook,"$44,211,146","$43,588,654","$40,844,595","$38,454,209","$31,388,759","$29,918,259","$19,063,757","$17,918,740","$17,097,246",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Kevin Durant,"$42,018,900","$42,271,404","$39,457,722","$32,346,173","$27,729,174","$29,918,259","$25,015,562","$22,795,904","$21,843,723",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2486,Brett Szabo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$381,449"
2487,Earl Cureton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$355,788"
2488,Kenny Smith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$329,606"
2489,Lloyd Daniels,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$319,203"
2490,Gaylon Nickerson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$265,107"

In [103]:
# Clean up the column names
nba_sal = nba_sal.rename(columns = {'2021/22(*)':'2021-22','2020/21(*)':'2020-21', 
                                    '2019/20(*)':'2019-20', '2018/19(*)':'2018-19', 
                                    '2017/18(*)':'2017-18','2016/17(*)':'2016-17', 
                                    '2015/16(*)':'2015-16', '2014/15(*)':'2014-15', 
                                    '2013/14(*)':'2013-14', '2012/13(*)':'2012-13',
                                    '2011/12(*)':'2011-12', '2010/11(*)':'2010-11', 
                                    '2009/10(*)':'2009-10', '2008/09(*)':'2008-09', 
                                    '2007/08(*)':'2007-08','2006/07(*)':'2006-07', 
                                    '2005/06(*)':'2005-06', '2004/05(*)':'2004-05', 
                                    '2003/04(*)':'2003-04', '2002/03(*)':'2002-03',
                                    '2001/02(*)':'2001-02', '2000/01(*)':'2000-01', 
                                    '1999/00(*)':'1999-00', '1998/99(*)':'1998-99', 
                                    '1997/98(*)':'1997-98','1996/97(*)':'1996-97'})

nba_sal

,Player,2021-22,2020-21,2019-20,2018-19,2017-18,2016-17,2015-16,2014-15,2013-14,...,2005-06,2004-05,2003-04,2002-03,2001-02,2000-01,1999-00,1998-99,1997-98,1996-97
0,Stephen Curry,"$45,780,966","$45,325,029","$42,674,629","$40,386,520","$38,468,739","$13,654,081","$12,945,956","$12,116,632","$11,504,868",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,James Harden,"$44,310,840","$43,479,158","$40,518,442","$32,960,751","$31,388,759","$29,918,259","$17,896,589","$16,750,126","$15,904,415",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,John Wall,"$44,310,840","$43,479,158","$40,518,442","$20,668,989","$20,035,826","$17,761,997","$16,769,198","$15,618,561","$8,680,071",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Russell Westbrook,"$44,211,146","$43,588,654","$40,844,595","$38,454,209","$31,388,759","$29,918,259","$19,063,757","$17,918,740","$17,097,246",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Kevin Durant,"$42,018,900","$42,271,404","$39,457,722","$32,346,173","$27,729,174","$29,918,259","$25,015,562","$22,795,904","$21,843,723",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2486,Brett Szabo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$381,449"
2487,Earl Cureton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$355,788"
2488,Kenny Smith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$329,606"
2489,Lloyd Daniels,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$319,203"
2490,Gaylon Nickerson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$265,107"

In [104]:
# Remove all '$' signs
nba_sal[nba_sal.columns] = nba_sal[nba_sal.columns].replace({'\$':''}, regex = True)
nba_sal

,Player,2021-22,2020-21,2019-20,2018-19,2017-18,2016-17,2015-16,2014-15,2013-14,...,2005-06,2004-05,2003-04,2002-03,2001-02,2000-01,1999-00,1998-99,1997-98,1996-97
0,Stephen Curry,"45,780,966","45,325,029","42,674,629","40,386,520","38,468,739","13,654,081","12,945,956","12,116,632","11,504,868",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,James Harden,"44,310,840","43,479,158","40,518,442","32,960,751","31,388,759","29,918,259","17,896,589","16,750,126","15,904,415",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,John Wall,"44,310,840","43,479,158","40,518,442","20,668,989","20,035,826","17,761,997","16,769,198","15,618,561","8,680,071",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Russell Westbrook,"44,211,146","43,588,654","40,844,595","38,454,209","31,388,759","29,918,259","19,063,757","17,918,740","17,097,246",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Kevin Durant,"42,018,900","42,271,404","39,457,722","32,346,173","27,729,174","29,918,259","25,015,562","22,795,904","21,843,723",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2486,Brett Szabo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"381,449"
2487,Earl Cureton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"355,788"
2488,Kenny Smith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"329,606"
2489,Lloyd Daniels,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"319,203"
2490,Gaylon Nickerson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"265,107"

In [105]:
# Remove all commas ','
nba_sal = nba_sal.replace(',', '', regex=True)
nba_sal

,Player,2021-22,2020-21,2019-20,2018-19,2017-18,2016-17,2015-16,2014-15,2013-14,...,2005-06,2004-05,2003-04,2002-03,2001-02,2000-01,1999-00,1998-99,1997-98,1996-97
0,Stephen Curry,45780966,45325029,42674629,40386520,38468739,13654081,12945956,12116632,11504868,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,James Harden,44310840,43479158,40518442,32960751,31388759,29918259,17896589,16750126,15904415,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,John Wall,44310840,43479158,40518442,20668989,20035826,17761997,16769198,15618561,8680071,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Russell Westbrook,44211146,43588654,40844595,38454209,31388759,29918259,19063757,17918740,17097246,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Kevin Durant,42018900,42271404,39457722,32346173,27729174,29918259,25015562,22795904,21843723,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2486,Brett Szabo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,381449
2487,Earl Cureton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,355788
2488,Kenny Smith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,329606
2489,Lloyd Daniels,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,319203
2490,Gaylon Nickerson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,265107

In [106]:
nba_sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2491 entries, 0 to 2490
Data columns (total 27 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Player   2491 non-null   object
 1   2021-22  653 non-null    object
 2   2020-21  578 non-null    object
 3   2019-20  515 non-null    object
 4   2018-19  576 non-null    object
 5   2017-18  586 non-null    object
 6   2016-17  545 non-null    object
 7   2015-16  500 non-null    object
 8   2014-15  514 non-null    object
 9   2013-14  492 non-null    object
 10  2012-13  494 non-null    object
 11  2011-12  463 non-null    object
 12  2010-11  459 non-null    object
 13  2009-10  456 non-null    object
 14  2008-09  460 non-null    object
 15  2007-08  469 non-null    object
 16  2006-07  495 non-null    object
 17  2005-06  479 non-null    object
 18  2004-05  470 non-null    object
 19  2003-04  454 non-null    object
 20  2002-03  451 non-null    object
 21  2001-02  450 non-null    object
 22  2000-01  455 non-null    object
 23  1999-00  516 non-null    object
 24  1998-99  426 non-null    object
 25  1997-98  444 non-null    object
 26  1996-97  415 non-null    object
dtypes: object(27)
memory usage: 525.6+ KB

In [107]:
# Get column names
nba_sal.columns

Index(['Player', '2021-22', '2020-21', '2019-20', '2018-19', '2017-18',
       '2016-17', '2015-16', '2014-15', '2013-14', '2012-13', '2011-12',
       '2010-11', '2009-10', '2008-09', '2007-08', '2006-07', '2005-06',
       '2004-05', '2003-04', '2002-03', '2001-02', '2000-01', '1999-00',
       '1998-99', '1997-98', '1996-97'],
      dtype='object')

In [108]:
# Change datatypes to numeric for appropriate columns
nba_sal[['2021-22', '2020-21', '2019-20', '2018-19', '2017-18',
       '2016-17', '2015-16', '2014-15', '2013-14', '2012-13', '2011-12',
       '2010-11', '2009-10', '2008-09', '2007-08', '2006-07', '2005-06',
       '2004-05', '2003-04', '2002-03', '2001-02', '2000-01', '1999-00',
       '1998-99', '1997-98', '1996-97']] = nba_sal[['2021-22', '2020-21', '2019-20', '2018-19', '2017-18',
       '2016-17', '2015-16', '2014-15', '2013-14', '2012-13', '2011-12',
       '2010-11', '2009-10', '2008-09', '2007-08', '2006-07', '2005-06',
       '2004-05', '2003-04', '2002-03', '2001-02', '2000-01', '1999-00',
       '1998-99', '1997-98', '1996-97']].apply(pd.to_numeric)

In [109]:
nba_sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2491 entries, 0 to 2490
Data columns (total 27 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Player   2491 non-null   object
 1   2021-22  653 non-null    float64
 2   2020-21  578 non-null    float64
 3   2019-20  515 non-null    float64
 4   2018-19  576 non-null    float64
 5   2017-18  586 non-null    float64
 6   2016-17  545 non-null    float64
 7   2015-16  500 non-null    float64
 8   2014-15  514 non-null    float64
 9   2013-14  492 non-null    float64
 10  2012-13  494 non-null    float64
 11  2011-12  463 non-null    float64
 12  2010-11  459 non-null    float64
 13  2009-10  456 non-null    float64
 14  2008-09  460 non-null    float64
 15  2007-08  469 non-null    float64
 16  2006-07  495 non-null    float64
 17  2005-06  479 non-null    float64
 18  2004-05  470 non-null    float64
 19  2003-04  454 non-null    float64
 20  2002-03  451 non-null    float64
 21  2001-02  450 non-null    float64
 22  2000-01  455 non-null    float64
 23  1999-00  516 non-null    float64
 24  1998-99  426 non-null    float64
 25  1997-98  444 non-null    float64
 26  1996-97  415 non-null    float64
dtypes: float64(26), object(1)
memory usage: 525.6+ KB

In [110]:
# Find the average salary for each player
# Format average salary float to 2 decimal places
pd.options.display.float_format = '{:.2f}'.format
nba_avg_sal = nba_sal.mean(axis=1)
nba_avg_sal

C:\Users\sandr\AppData\Local\Temp/ipykernel_28852/3382875248.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  nba_avg_sal = nba_sal.mean(axis=1)

0      21410995.23
1      22771817.00
2      20659679.75
3      22775948.79
4      23162299.73
           ...
2486     381449.00
2487     355788.00
2488     329606.00
2489     319203.00
2490     265107.00
Length: 2491, dtype: float64

In [111]:
# Add average salary column in dataframe
nba_sal['AVG SALARY'] = nba_sal.mean(axis=1)
nba_sal.sort_values(by='Player', ascending=True).tail(20)

C:\Users\sandr\AppData\Local\Temp/ipykernel_28852/1617413931.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  nba_sal['AVG SALARY'] = nba_sal.mean(axis=1)

,Player,2021-22,2020-21,2019-20,2018-19,2017-18,2016-17,2015-16,2014-15,2013-14,...,2004-05,2003-04,2002-03,2001-02,2000-01,1999-00,1998-99,1997-98,1996-97,AVG SALARY
1136,Zach Auguste,NaN,NaN,NaN,NaN,NaN,67637.00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67637.00
174,Zach Collins,7000000.00,5697730.00,4497664.00,3912722.00,3390989.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4899821.00
58,Zach LaVine,19500000.00,20551333.00,20684039.00,21025012.00,3551793.00,2526110.00,2445967.00,2343528.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11578472.75
894,Zach Lofton,NaN,NaN,NaN,83291.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83291.00
795,Zach Randolph,NaN,NaN,NaN,12606714.00,13651285.00,11272850.00,11385278.00,18808960.00,20711374.00,...,2154479.00,1733648.00,1654823.00,1555810.00,NaN,NaN,NaN,NaN,NaN,13450542.11
2189,Zan Tabak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1891155.00,1798228.00,NaN,1610175.00,1387088.00,1671661.50
1769,Zarko Cabarkapa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1880245.00,1806238.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2134178.75
650,Zavier Simpson,37223.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37223.00
828,Zaza Pachulia,NaN,NaN,NaN,2581102.00,3857239.00,3266872.00,5920344.00,5927672.00,6050513.00,...,888054.00,542698.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4585967.12
315,Zeke Nnaji,2498760.00,2508147.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2503453.50
1765,Zeljko Rebraca,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3580600.00,6211884.00,5814505.00,5342337.00,NaN,NaN,NaN,NaN,NaN,4913095.67
1895,Zendon Hamilton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1156599.00,718240.00,NaN,711065.00,499531.00,NaN,NaN,NaN,NaN,709041.20
457,Zhaire Smith,1068200.00,1125791.00,3244530.00,2819680.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2064550.25
847,Zhou Qi,NaN,NaN,NaN,1486028.00,904653.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1195340.50
235,Ziaire Williams,4373040.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4373040.00
118,Zion Williamson,10733400.00,10797860.00,10349911.00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10627057.00
1164,Zoran Dragic,NaN,NaN,NaN,NaN,NaN,NaN,1999824.00,2002299.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001061.50
1821,Zoran Planinic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1509180.00,1449853.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1183645.75
1508,Zydrunas Ilgauskas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,20946515.00,19966771.00,18689483.00,17171797.00,15964503.00,14712779.00,1560168.00,1403395.00,1248379.00,11961831.47
559,Zylan Cheatham,256734.00,1523641.00,84399.00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,621591.33

In [112]:
# We only need 2 columns, the player and avg salary columns
nba_salary = nba_sal[['Player', 'AVG SALARY']]
nba_salary

                 Player  AVG SALARY
0         Stephen Curry 21410995.23
1          James Harden 22771817.00
2             John Wall 20659679.75
3     Russell Westbrook 22775948.79
4          Kevin Durant 23162299.73
...                 ...         ...
2486        Brett Szabo   381449.00
2487       Earl Cureton   355788.00
2488        Kenny Smith   329606.00
2489      Lloyd Daniels   319203.00
2490   Gaylon Nickerson   265107.00

[2491 rows x 2 columns]

In [113]:
# Save to csv file
nba_salary.to_csv('nba_salaries_cleaned.csv', encoding='utf-8', index=False)

In [148]:
# Import nba_stats
nba_stats = pd.read_csv('nba_stats_cleaned.csv')
nba_stats

,PLAYER,AGE,GP,W,L,MIN,PTS,FGM,FGA,FG%,...,FTM,FTA,FT%,OREB,DREB,REB,AST,TOV,STL,BLK
0,A.C. Green,35.00,75.80,35.80,40.00,1881.00,444.60,180.20,397.00,44.98,...,83.80,123.40,67.00,158.00,312.20,470.20,67.20,51.80,51.80,15.40
1,AJ Price,25.50,43.50,19.83,23.67,654.67,253.83,91.50,240.67,38.00,...,34.50,46.50,62.07,11.33,51.50,62.83,94.50,38.17,20.83,1.50
2,Aaron Brooks,28.10,64.50,35.90,28.60,1343.90,625.90,226.10,547.80,41.09,...,91.70,109.50,82.00,25.40,82.50,107.90,192.50,100.00,35.90,8.70
3,Aaron Gordon,22.50,66.00,29.88,36.12,1909.50,860.88,325.62,707.88,45.96,...,136.25,194.00,70.06,105.12,308.62,413.75,164.12,99.00,48.62,41.88
4,Aaron Gray,26.00,45.43,17.71,27.71,550.00,152.29,62.86,123.43,50.86,...,26.57,47.29,56.59,61.57,108.43,170.00,29.57,37.86,13.43,12.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1008,Zach Randolph,28.00,65.65,33.00,32.65,2036.65,1092.82,437.41,927.88,47.04,...,206.29,270.12,75.32,192.82,407.59,600.41,120.53,134.71,49.06,17.71
1009,Zaza Pachulia,27.50,68.62,34.06,34.56,1389.56,463.38,163.00,347.44,46.91,...,137.38,182.94,74.97,147.62,247.06,394.69,89.56,90.25,48.00,23.62
1010,Zeljko Rebraca,32.00,43.00,24.00,19.00,655.60,255.20,97.60,185.20,52.18,...,60.00,75.80,78.90,39.20,98.40,137.60,17.60,40.60,11.40,32.00
1011,Zendon Hamilton,28.50,22.33,8.50,13.83,259.33,97.50,29.33,66.67,40.38,...,38.83,58.83,70.77,30.67,46.67,77.33,5.50,18.00,6.50,4.67
1012,Zydrunas Ilgauskas,29.85,64.85,36.00,28.85,1766.69,844.31,323.62,680.15,47.84,...,194.69,249.46,76.07,188.00,288.23,476.23,73.46,116.15,32.38,102.08

In [149]:
# Merge the two tables, nba_stats and nba_salary
nba_stats_sal = pd.merge(nba_salary, nba_stats.set_index('PLAYER'), left_on="Player", right_index=True)
nba_stats_sal

,Player,AVG SALARY,AGE,GP,W,L,MIN,PTS,FGM,FGA,...,FTM,FTA,FT%,OREB,DREB,REB,AST,TOV,STL,BLK
0,Stephen Curry,21410995.23,28.00,63.54,41.92,21.61,2181.69,1543.38,528.85,1116.92,...,245.92,270.77,90.84,42.54,252.69,295.23,414.46,199.85,105.15,14.38
1,James Harden,22771817.00,26.00,72.46,47.08,25.39,2509.08,1805.92,532.31,1203.92,...,541.85,630.38,85.61,57.08,350.15,407.23,492.08,272.23,111.46,39.38
2,John Wall,20659679.75,24.60,61.30,28.30,33.00,2183.20,1170.20,423.50,983.30,...,261.40,335.50,77.13,34.70,226.50,261.20,555.70,233.20,101.80,42.70
3,Russell Westbrook,22775948.79,26.50,72.93,42.71,30.21,2530.29,1664.14,594.43,1357.50,...,393.71,502.71,77.55,120.71,417.93,538.64,615.07,299.14,121.36,22.36
4,Kevin Durant,23162299.73,25.64,67.07,41.93,25.14,2464.93,1823.29,622.57,1255.50,...,451.71,510.93,88.19,47.07,427.64,474.71,288.00,211.71,72.93,74.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2200,Jerome Kersey,1230830.40,37.00,49.20,33.60,15.60,947.80,249.60,107.40,261.00,...,30.60,50.80,56.76,55.20,124.40,179.60,51.60,39.40,57.80,26.40
2208,Todd Fuller,1666712.60,24.00,45.00,19.80,25.20,499.60,166.20,63.00,150.00,...,40.20,60.20,71.66,48.00,86.80,134.80,9.20,29.20,6.80,12.00
2252,Scott Burrell,1966663.75,28.00,49.40,25.40,24.00,824.00,278.40,101.00,257.80,...,35.60,47.20,66.48,45.40,101.40,146.80,51.40,32.80,40.40,22.20
2282,Chucky Brown,894728.75,31.50,50.33,26.33,24.00,780.17,242.50,102.17,224.83,...,34.83,50.67,65.20,31.17,95.17,126.33,37.17,27.67,13.17,13.83
2287,Randy Livingston,551813.25,27.00,18.45,10.91,7.54,244.00,70.27,27.64,68.09,...,11.91,15.46,61.30,6.73,18.91,25.64,37.73,20.27,11.09,2.82

In [150]:
# Change column 'Player' for aesthetics
nba_stats_sal = nba_stats_sal.rename(columns = {'Player': 'PLAYER'})

nba_stats_sal

,PLAYER,AVG SALARY,AGE,GP,W,L,MIN,PTS,FGM,FGA,...,FTM,FTA,FT%,OREB,DREB,REB,AST,TOV,STL,BLK
0,Stephen Curry,21410995.23,28.00,63.54,41.92,21.61,2181.69,1543.38,528.85,1116.92,...,245.92,270.77,90.84,42.54,252.69,295.23,414.46,199.85,105.15,14.38
1,James Harden,22771817.00,26.00,72.46,47.08,25.39,2509.08,1805.92,532.31,1203.92,...,541.85,630.38,85.61,57.08,350.15,407.23,492.08,272.23,111.46,39.38
2,John Wall,20659679.75,24.60,61.30,28.30,33.00,2183.20,1170.20,423.50,983.30,...,261.40,335.50,77.13,34.70,226.50,261.20,555.70,233.20,101.80,42.70
3,Russell Westbrook,22775948.79,26.50,72.93,42.71,30.21,2530.29,1664.14,594.43,1357.50,...,393.71,502.71,77.55,120.71,417.93,538.64,615.07,299.14,121.36,22.36
4,Kevin Durant,23162299.73,25.64,67.07,41.93,25.14,2464.93,1823.29,622.57,1255.50,...,451.71,510.93,88.19,47.07,427.64,474.71,288.00,211.71,72.93,74.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2200,Jerome Kersey,1230830.40,37.00,49.20,33.60,15.60,947.80,249.60,107.40,261.00,...,30.60,50.80,56.76,55.20,124.40,179.60,51.60,39.40,57.80,26.40
2208,Todd Fuller,1666712.60,24.00,45.00,19.80,25.20,499.60,166.20,63.00,150.00,...,40.20,60.20,71.66,48.00,86.80,134.80,9.20,29.20,6.80,12.00
2252,Scott Burrell,1966663.75,28.00,49.40,25.40,24.00,824.00,278.40,101.00,257.80,...,35.60,47.20,66.48,45.40,101.40,146.80,51.40,32.80,40.40,22.20
2282,Chucky Brown,894728.75,31.50,50.33,26.33,24.00,780.17,242.50,102.17,224.83,...,34.83,50.67,65.20,31.17,95.17,126.33,37.17,27.67,13.17,13.83
2287,Randy Livingston,551813.25,27.00,18.45,10.91,7.54,244.00,70.27,27.64,68.09,...,11.91,15.46,61.30,6.73,18.91,25.64,37.73,20.27,11.09,2.82

In [151]:
# Save into csv file
nba_stats_sal.to_csv('nba_stats_merged.csv', encoding='utf-8', index=False)

In [152]:
# Read file
nba_complete = pd.read_csv('nba_stats_merged.csv', encoding='utf-8')
nba_complete

,PLAYER,AVG SALARY,AGE,GP,W,L,MIN,PTS,FGM,FGA,...,FTM,FTA,FT%,OREB,DREB,REB,AST,TOV,STL,BLK
0,Stephen Curry,21410995.23,28.00,63.54,41.92,21.61,2181.69,1543.38,528.85,1116.92,...,245.92,270.77,90.84,42.54,252.69,295.23,414.46,199.85,105.15,14.38
1,James Harden,22771817.00,26.00,72.46,47.08,25.39,2509.08,1805.92,532.31,1203.92,...,541.85,630.38,85.61,57.08,350.15,407.23,492.08,272.23,111.46,39.38
2,John Wall,20659679.75,24.60,61.30,28.30,33.00,2183.20,1170.20,423.50,983.30,...,261.40,335.50,77.13,34.70,226.50,261.20,555.70,233.20,101.80,42.70
3,Russell Westbrook,22775948.79,26.50,72.93,42.71,30.21,2530.29,1664.14,594.43,1357.50,...,393.71,502.71,77.55,120.71,417.93,538.64,615.07,299.14,121.36,22.36
4,Kevin Durant,23162299.73,25.64,67.07,41.93,25.14,2464.93,1823.29,622.57,1255.50,...,451.71,510.93,88.19,47.07,427.64,474.71,288.00,211.71,72.93,74.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,Jerome Kersey,1230830.40,37.00,49.20,33.60,15.60,947.80,249.60,107.40,261.00,...,30.60,50.80,56.76,55.20,124.40,179.60,51.60,39.40,57.80,26.40
954,Todd Fuller,1666712.60,24.00,45.00,19.80,25.20,499.60,166.20,63.00,150.00,...,40.20,60.20,71.66,48.00,86.80,134.80,9.20,29.20,6.80,12.00
955,Scott Burrell,1966663.75,28.00,49.40,25.40,24.00,824.00,278.40,101.00,257.80,...,35.60,47.20,66.48,45.40,101.40,146.80,51.40,32.80,40.40,22.20
956,Chucky Brown,894728.75,31.50,50.33,26.33,24.00,780.17,242.50,102.17,224.83,...,34.83,50.67,65.20,31.17,95.17,126.33,37.17,27.67,13.17,13.83
957,Randy Livingston,551813.25,27.00,18.45,10.91,7.54,244.00,70.27,27.64,68.09,...,11.91,15.46,61.30,6.73,18.91,25.64,37.73,20.27,11.09,2.82