In [1]:
from selenium import webdriver
from selenium.webdriver.edge.service import Service
from selenium.common.exceptions import WebDriverException
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select
from bs4 import BeautifulSoup as bs
from time import sleep
import requests
import pandas as pd
import numpy as np

In [2]:
# Make a url list
url_base = 'https://hoopshype.com/salaries/players/'
url_list = []
a = 2021

while a >= 1996:
    b = a+1
    new_url = url_base + str(a) + "-" + str(b)
    a -=1
    url_list.append(new_url)

In [3]:
url_list[:5]

['https://hoopshype.com/salaries/players/2021-2022',
 'https://hoopshype.com/salaries/players/2020-2021',
 'https://hoopshype.com/salaries/players/2019-2020',
 'https://hoopshype.com/salaries/players/2018-2019',
 'https://hoopshype.com/salaries/players/2017-2018']

In [4]:
dataframe_list = []
n=1 # Make a counter to see how many webpages are scraped

# Scrape stat table for each url in url_list
for url in url_list:

    # provide path to the Edge driver
    s=Service("C:\\Users\sandr\OneDrive\Desktop\Drivers\msedgedriver.exe")
    driver = webdriver.Edge(service=s)
    
    # Make python pause for some time
    sleep(2)

    # Get the page HTML
    try:
        driver.get(url)
        # Make python pause for some time
        sleep(3)
    except WebDriverException:
        print("Webdriver is acting immediately after ‘closing’ the browser")

    # Make python pause for some time
    sleep(2)

    # Use BeautifulSoup and lxml extension to parse, save in variable nba_soup
    nba_soup = bs(driver.page_source, 'lxml')
    
    # Locate the table on the page
    table = nba_soup.find('table', class_='hh-salaries-ranking-table hh-salaries-table-sortable responsive')
   
    # Find all the headers in the columns
    headers=[]
    for i in table.find_all('td')[1:4]:
        title = i.text.replace("\n", "").strip()
        headers.append(title)
    
    # Create a dataframe using the headers as column names
    p_salary = pd.DataFrame(columns = headers) 
    
    # Create a for loop to fill p_salary
    for i in table.find_all('tr')[1:]:
        row_data = i.find_all('td')[1:]
        row =[j.text.replace("\n", "").strip() for j in row_data] 
        length = len(p_salary)
        p_salary.loc[length] = row

    print("Completed:", n, "webpage(s) scraped.")
    n +=1 # add 1 to counter every successful page retrieved
        
    # Close all browsers
    driver.quit()

    # Append table to list of dataframes
    dataframe_list.append(p_salary)

Completed: 1 webpage(s) scraped.
Completed: 2 webpage(s) scraped.
Completed: 3 webpage(s) scraped.
Completed: 4 webpage(s) scraped.
Completed: 5 webpage(s) scraped.
Completed: 6 webpage(s) scraped.
Completed: 7 webpage(s) scraped.
Completed: 8 webpage(s) scraped.
Completed: 9 webpage(s) scraped.
Completed: 10 webpage(s) scraped.
Completed: 11 webpage(s) scraped.
Completed: 12 webpage(s) scraped.
Completed: 13 webpage(s) scraped.
Completed: 14 webpage(s) scraped.
Completed: 15 webpage(s) scraped.
Completed: 16 webpage(s) scraped.
Completed: 17 webpage(s) scraped.
Completed: 18 webpage(s) scraped.
Completed: 19 webpage(s) scraped.
Completed: 20 webpage(s) scraped.
Completed: 21 webpage(s) scraped.
Completed: 22 webpage(s) scraped.
Completed: 23 webpage(s) scraped.
Completed: 24 webpage(s) scraped.
Completed: 25 webpage(s) scraped.
Completed: 26 webpage(s) scraped.

In [5]:
dataframe_list

[                Player      2021/22   2021/22(*)
 0        Stephen Curry  $45,780,966  $45,780,966
 1         James Harden  $44,310,840  $44,310,840
 2            John Wall  $44,310,840  $44,310,840
 3    Russell Westbrook  $44,211,146  $44,211,146
 4         Kevin Durant  $42,018,900  $42,018,900
 ..                 ...          ...          ...
 648     Anthony Barber      $53,176      $53,176
 649       Luca Vildoza      $42,789      $42,789
 650     Zavier Simpson      $37,223      $37,223
 651  Mfiondu Kabengele      $19,186      $19,186
 652     Melvin Frazier      $13,294      $13,294

 [653 rows x 3 columns],
                 Player      2020/21   2020/21(*)
 0        Stephen Curry  $43,006,362  $45,325,029
 1    Russell Westbrook  $41,358,814  $43,588,654
 2           Chris Paul  $41,358,814  $43,588,654
 3            John Wall  $41,254,920  $43,479,158
 4         James Harden  $41,254,920  $43,479,158
 ..                 ...          ...          ...
 573       Cam Reynolds      $33,299      $35,094
 574       Andrew White      $25,000      $26,347
 575         Tyler Hall      $25,000      $26,347
 576      Elijah Bryant      $24,611      $25,937
 577     Caleb Homesley      $20,000      $21,078

 [578 rows x 3 columns],
                 Player      2019/20   2019/20(*)
 0        Stephen Curry  $40,231,758  $42,674,629
 1           Chris Paul  $38,506,482  $40,844,595
 2    Russell Westbrook  $38,506,482  $40,844,595
 3            John Wall  $38,199,000  $40,518,442
 4         James Harden  $38,199,000  $40,518,442
 ..                 ...          ...          ...
 510    Jeremiah Martin      $79,568      $84,399
 511     Tremont Waters      $79,568      $84,399
 512         Tacko Fall      $79,568      $84,399
 513      Charlie Brown      $79,568      $84,399
 514       Malik Newman      $65,978      $69,984

 [515 rows x 3 columns],
                 Player      2018/19   2018/19(*)
 0        Stephen Curry  $37,457,154  $40,386,520
 1    Russell Westbrook  $35,665,000  $38,454,209
 2         LeBron James  $35,654,150  $38,442,511
 3           Chris Paul  $35,654,150  $38,442,511
 4           Kyle Lowry  $32,700,000  $35,257,329
 ..                 ...          ...          ...
 571    Michael Frazier      $47,370      $51,074
 572     Tahjere McCall      $47,370      $51,074
 573     Mitchell Creek      $47,370      $51,074
 574    Isaac Humphries      $47,370      $51,074
 575      Jordan Sibert      $47,370      $51,074

 [576 rows x 3 columns],
                   Player      2017/18   2017/18(*)
 0          Stephen Curry  $34,682,550  $38,468,739
 1           LeBron James  $33,285,709  $36,919,409
 2           Paul Millsap  $30,769,231  $34,128,215
 3         Gordon Hayward  $29,727,900  $32,973,205
 4          Blake Griffin  $29,512,900  $32,734,734
 ..                   ...          ...          ...
 581         Andre Ingram      $46,079      $51,109
 582  Trey McKinney-Jones      $46,079      $51,109
 583        Aaron Jackson      $46,079      $51,109
 584        Jameel Warney      $46,079      $51,109
 585   Marcus Thornton II      $46,079      $51,109

 [586 rows x 3 columns],
                 Player      2016/17   2016/17(*)
 0         LeBron James  $30,963,450  $34,904,635
 1        DeMar DeRozan  $26,540,100  $29,918,259
 2    Russell Westbrook  $26,540,100  $29,918,259
 3          Mike Conley  $26,540,100  $29,918,259
 4         James Harden  $26,540,100  $29,918,259
 ..                 ...          ...          ...
 540   Nikola Jovanovic      $30,000      $33,818
 541        Tony Wroten      $25,000      $28,182
 542      Nick Zeisloft      $25,000      $28,182
 543        Jalen Jones      $25,000      $28,182
 544      Dahntay Jones      $24,022      $27,079

 [545 rows x 3 columns],
                      Player      2015/16   2015/16(*)
 0               Kobe Bryant  $25,000,000  $28,463,195
 1              LeBron James  $22,970,500  $26,152,553
 2           Carmelo Anthony  $22,875,000  $26,043,823
 3             Dwight Howard  $22,359,364  $25,456,757
 4               Joe Johnson  $22,309,344  $25,399,808
 ..                      ...          ...          ...
 495              JJ O'Brien      $30,887      $35,165
 496  Thanasis Antetokounmpo      $30,887      $35,165
 497           Nate Robinson      $26,456      $30,120
 498           Dorell Wright      $17,637      $20,080
 499            John Holland       $9,266      $10,549

 [500 rows x 3 columns],
                Player      2014/15   2014/15(*)
 0         Kobe Bryant  $23,500,000  $26,788,519
 1         Joe Johnson  $23,180,790  $26,424,639
 2     Carmelo Anthony  $22,458,401  $25,601,161
 3    Amare Stoudemire  $21,896,658  $24,960,810
 4       Dwight Howard  $21,436,271  $24,435,998
 ..                ...          ...          ...
 508       Sim Bhullar      $35,000      $39,897
 509        David Wear      $29,843      $34,019
 510   Sean Kilpatrick      $29,843      $34,019
 511      Jarell Eddie      $29,843      $34,019
 512        Josh Davis      $20,000      $22,798

 [513 rows x 3 columns],
                Player      2013/14   2013/14(*)
 0         Kobe Bryant  $30,453,000  $35,433,903
 1       Dirk Nowitzki  $22,721,381  $26,437,698
 2      Gilbert Arenas  $22,346,536  $26,001,543
 3    Amare Stoudemire  $21,679,893  $25,225,864
 4     Carmelo Anthony  $21,490,000  $25,004,912
 ..                ...          ...          ...
 487    Mustafa Shakur      $46,404      $53,993
 488       DJ Stephens      $28,834      $33,550
 489     Tony Mitchell      $28,834      $33,550
 490     Shane Edwards      $28,834      $33,550
 491       Vander Blue      $28,834      $33,550

 [492 rows x 3 columns],
                Player      2012/13   2012/13(*)
 0         Kobe Bryant  $27,849,000  $32,972,493
 1         Brandon Roy  $21,459,805  $25,407,851
 2       Dirk Nowitzki  $20,907,128  $24,753,497
 3      Gilbert Arenas  $20,807,922  $24,636,039
 4    Amare Stoudemire  $19,948,799  $23,618,860
 ..                ...          ...          ...
 489    Justin Dentmon      $44,835      $53,083
 490      Josh Akognon      $41,788      $49,475
 491        Eddy Curry      $31,629      $37,447
 492      Chris Wright      $27,859      $32,984
 493        Henry Sims      $25,073      $29,685

 [494 rows x 3 columns],
                Player      2011/12   2011/12(*)
 0         Kobe Bryant  $25,244,493  $30,386,173
 1        Vince Carter  $21,300,000  $25,638,283
 2       Kevin Garnett  $21,247,044  $25,574,542
 3          Tim Duncan  $21,164,619  $25,475,329
 4       Rashard Lewis  $21,136,631  $25,441,641
 ..                ...          ...          ...
 458         Ike Diogu      $64,028      $77,068
 459          Ben Uzoh      $61,433      $73,945
 460      Andre Emmett      $61,433      $73,945
 461      Garret Siler      $51,097      $61,504
 462  Courtney Fortson      $42,009      $50,565

 [463 rows x 3 columns],
             Player      2010/11   2010/11(*)
 0      Kobe Bryant  $24,806,250  $30,921,289
 1    Rashard Lewis  $19,573,711  $24,398,866
 2    Kevin Garnett  $18,800,000  $23,434,426
 3       Tim Duncan  $18,700,000  $23,309,775
 4     Michael Redd  $18,300,000  $22,811,170
 ..             ...          ...          ...
 454   Maurice Ager      $83,305     $103,840
 455  Bobby Simmons      $71,951      $89,687
 456   Matt Janning      $58,504      $72,925
 457  Ronald Dupree      $58,393      $72,787
 458    Larry Owens      $55,718      $69,453

 [459 rows x 3 columns],
                Player      2009/10   2009/10(*)
 0       Tracy McGrady  $23,239,562  $29,273,532
 1         Kobe Bryant  $23,034,375  $29,015,070
 2     Jermaine O'Neal  $23,016,000  $28,991,924
 3          Tim Duncan  $22,183,220  $27,942,919
 4    Shaquille O'Neal  $20,000,000  $25,192,843
 ..                ...          ...          ...
 451       Mike Harris      $64,978      $81,849
 452    Cedric Jackson      $53,834      $67,811
 453       Will Conroy      $48,559      $61,166
 454     Chris Richard      $43,319      $54,566
 455     JamesOn Curry      $26,917      $33,905

 [456 rows x 3 columns],
                Player      2008/09   2008/09(*)
 0       Kevin Garnett  $24,751,934  $30,733,731
 1     Jermaine O'Neal  $21,372,000  $26,536,969
 2          Jason Kidd  $21,372,000  $26,536,969
 3         Kobe Bryant  $21,262,500  $26,401,006
 4    Shaquille O'Neal  $21,000,000  $26,075,067
 ..                ...          ...          ...
 455       Andre Brown     $107,908     $133,986
 456  Demetris Nichols      $87,893     $109,134
 457     Desmon Farmer      $83,708     $103,937
 458   Richard Hendrix      $57,215      $71,042
 459      Dwayne Jones      $46,812      $58,125

 [460 rows x 3 columns],
                Player      2007/08   2007/08(*)
 0       Kevin Garnett  $23,750,000  $30,970,569
 1      Michael Finley  $21,696,750  $28,293,081
 2    Shaquille O'Neal  $20,000,000  $26,080,479
 3     Jermaine O'Neal  $19,728,000  $25,725,784
 4          Jason Kidd  $19,728,000  $25,725,784
 ..                ...          ...          ...
 464    Thomas Gardner     $101,451     $132,294
 465      Orien Greene      $77,061     $100,489
 466    Guillermo Diaz      $56,065      $73,110
 467    Stephane Lasme      $48,056      $62,666
 468   DerMarr Johnson      $42,203      $55,033

 [469 rows x 3 columns],
                Player      2006/07   2006/07(*)
 0       Kevin Garnett  $21,000,000  $28,120,335
 1    Shaquille O'Neal  $20,000,000  $26,781,271
 2      Michael Finley  $19,030,999  $25,483,716
 3        Chris Webber  $18,261,024  $24,452,671
 4     Jermaine O'Neal  $18,084,000  $24,215,625
 ..                ...          ...          ...
 490  Kevin Pittsnogle      $50,000      $66,953
 491       Will Conroy      $35,378      $47,372
 492    Casey Jacobsen      $31,250      $41,845
 493         Von Wafer      $24,300      $32,539
 494     Renaldo Major      $20,133      $26,959

 [495 rows x 3 columns],
                Player      2005/06   2005/06(*)
 0    Shaquille O'Neal  $20,000,000  $27,937,892
 1        Chris Webber  $19,125,000  $26,715,609
 2       Allan Houston  $19,125,000  $26,715,609
 3      Michael Finley  $18,612,500  $25,999,700
 4       Kevin Garnett  $18,000,000  $25,144,102
 ..                ...          ...          ...
 474    Ben Handlogten      $35,091      $49,018
 475        John Lucas      $34,041      $47,551
 476    Kaniel Dickens      $31,305      $43,729
 477    Melvin Sanders      $24,315      $33,965
 478       Alex Scales      $24,315      $33,965

 [479 rows x 3 columns],
                  Player      2004/05   2004/05(*)
 0      Shaquille O'Neal  $27,696,430  $39,667,945
 1       Dikembe Mutombo  $19,485,719  $27,908,233
 2          Chris Webber  $17,531,250  $25,108,964
 3         Allan Houston  $17,531,250  $25,108,964
 4         Kevin Garnett  $16,000,000  $22,915,846
 ..                  ...          ...          ...
 465  Courtney Alexander      $79,029     $113,188
 466    Tremaine Fowlkes      $79,029     $113,188
 467       Geno Carlisle      $65,779      $94,211
 468     Britton Johnsen      $45,369      $64,979
 469      Anthony Miller      $34,118      $48,865

 [470 rows x 3 columns],
                Player      2003/04   2003/04(*)
 0       Kevin Garnett  $28,000,000  $41,412,563
 1    Shaquille O'Neal  $24,749,999  $36,605,747
 2     Dikembe Mutombo  $17,714,291  $26,199,792
 3     Rasheed Wallace  $17,000,000  $25,143,342
 4        Chris Webber  $15,937,500  $23,571,883
 ..                ...          ...          ...
 449        Shane Heal      $75,615     $111,836
 450    Torraye Braggs      $53,697      $79,418
 451   Britton Johnsen      $44,748      $66,183
 452      Jelani McCoy      $36,643      $54,195
 453      Derrick Dial      $32,375      $47,883

 [454 rows x 3 columns],
                Player      2002/03   2002/03(*)
 0       Kevin Garnett  $25,200,000  $38,058,583
 1    Shaquille O'Neal  $23,571,429  $35,599,015
 2     Alonzo Mourning  $20,629,800  $31,156,387
 3        Juwan Howard  $20,625,000  $31,149,138
 4      Scottie Pippen  $19,727,524  $29,793,715
 ..                ...          ...          ...
 446        Mike Wilks      $55,402      $83,671
 447      Rafer Alston      $37,344      $56,399
 448       Devin Brown      $34,946      $52,777
 449        Guy Rucker      $34,946      $52,777
 450      Paul Shirley      $29,832      $45,054

 [451 rows x 3 columns],
                Player      2001/02   2001/02(*)
 0       Kevin Garnett  $22,400,000  $34,190,957
 1    Shaquille O'Neal  $21,428,572  $32,708,187
 2     Alonzo Mourning  $18,754,800  $28,626,989
 3        Juwan Howard  $18,750,000  $28,619,662
 4      Scottie Pippen  $18,083,564  $27,602,426
 ..                ...          ...          ...
 445      Charlie Bell      $89,292     $136,293
 446     Tang Hamilton      $60,881      $92,927
 447       Joe Crispin      $48,705      $74,342
 448    Mike Penberthy      $28,405      $43,356
 449   Dickey Simpkins      $26,190      $39,975

 [450 rows x 3 columns],
                Player      2000/01   2000/01(*)
 0       Kevin Garnett  $19,610,000  $30,904,632
 1    Shaquille O'Neal  $19,285,715  $30,393,570
 2     Alonzo Mourning  $16,880,000  $26,602,253
 3        Juwan Howard  $16,875,000  $26,594,373
 4     Hakeem Olajuwon  $16,700,000  $26,318,580
 ..                ...          ...          ...
 450       Mark Blount     $316,969     $499,531
 451     Hanno Mottola     $316,969     $499,531
 452      Mark Karcher      $50,000      $78,798
 453    Jamal Robinson      $40,000      $63,038
 454    Anthony Miller      $40,000      $63,038

 [455 rows x 3 columns],
                Player      1999/00   1999/00(*)
 0    Shaquille O'Neal  $17,142,858  $28,024,343
 1       Kevin Garnett  $16,806,300  $27,474,154
 2     Alonzo Mourning  $15,004,800  $24,529,146
 3        Juwan Howard  $15,000,000  $24,521,299
 4       Patrick Ewing  $15,000,000  $24,521,299
 ..                ...          ...          ...
 511        Andy Panko       $5,000       $8,173
 512    Steve Goodrich       $4,529       $7,403
 513     Trevor Winter       $4,529       $7,403
 514        Ira Bowman       $4,529       $7,403
 515      Jason Sasser       $2,706       $4,423

 [516 rows x 3 columns],
                Player      1998/99   1998/99(*)
 0       Patrick Ewing  $18,500,000  $30,836,662
 1    Shaquille O'Neal  $15,000,000  $25,002,699
 2      David Robinson  $14,841,000  $24,737,670
 3       Kevin Garnett  $14,000,000  $23,335,852
 4     Alonzo Mourning  $13,130,000  $21,885,696
 ..                ...          ...          ...
 421      Kornel David     $287,500     $479,218
 422       Brad Miller     $287,500     $479,218
 423    Marlon Garnett     $287,500     $479,218
 424       Damon Jones     $287,500     $479,218
 425  Jeffrey Sheppard     $287,500     $479,218

 [426 rows x 3 columns],
                Player      1997/98   1997/98(*)
 0      Michael Jordan  $33,140,000  $56,169,715
 1       Patrick Ewing  $20,500,000  $34,745,901
 2        Horace Grant  $14,285,714  $24,213,171
 3    Shaquille O'Neal  $12,857,143  $21,791,854
 4      David Robinson  $12,397,440  $21,012,694
 ..                ...          ...          ...
 439     Patrick Savoy      $25,000      $42,373
 440         Ben Davis      $25,000      $42,373
 441    Amal McCaskill      $20,700      $35,084
 442      Nate Huffman      $20,000      $33,898
 443     Todd Lindeman      $15,000      $25,423

 [444 rows x 3 columns],
                Player      1996/97   1996/97(*)
 0      Michael Jordan  $30,140,000  $52,258,566
 1        Horace Grant  $14,857,000  $25,759,971
 2       Reggie Miller  $11,250,000  $19,505,934
 3    Shaquille O'Neal  $10,714,000  $18,576,585
 4         Gary Payton  $10,212,000  $17,706,187
 ..                ...          ...          ...
 410    Stephen Howard     $181,100     $314,002
 411       Henry James     $181,100     $314,002
 412    Aaron Williams     $169,000     $293,022
 413    Robert Werdann     $166,000     $287,820
 414  Gaylon Nickerson     $152,900     $265,107

 [415 rows x 3 columns]]

In [11]:
from functools import reduce
test = reduce(lambda l, r: pd.merge(l, r, on='Player', how='left'), dataframe_list)
test

,Player,2021/22,2021/22(*),2020/21,2020/21(*),2019/20,2019/20(*),2018/19,2018/19(*),2017/18,...,2000/01,2000/01(*),1999/00,1999/00(*),1998/99,1998/99(*),1997/98,1997/98(*),1996/97,1996/97(*)
0,Stephen Curry,"$45,780,966","$45,780,966","$43,006,362","$45,325,029","$40,231,758","$42,674,629","$37,457,154","$40,386,520","$34,682,550",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,James Harden,"$44,310,840","$44,310,840","$41,254,920","$43,479,158","$38,199,000","$40,518,442","$30,570,000","$32,960,751","$28,299,399",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,John Wall,"$44,310,840","$44,310,840","$41,254,920","$43,479,158","$38,199,000","$40,518,442","$19,169,800","$20,668,989","$18,063,850",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Russell Westbrook,"$44,211,146","$44,211,146","$41,358,814","$43,588,654","$38,506,482","$40,844,595","$35,665,000","$38,454,209","$28,299,399",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Kevin Durant,"$42,018,900","$42,018,900","$40,108,950","$42,271,404","$37,199,000","$39,457,722","$30,000,000","$32,346,173","$25,000,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648,Anthony Barber,"$53,176","$53,176",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
649,Luca Vildoza,"$42,789","$42,789","$3,500,000","$3,688,700",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
650,Zavier Simpson,"$37,223","$37,223",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
651,Mfiondu Kabengele,"$19,186","$19,186","$2,432,353","$2,563,492","$1,977,000","$2,097,043",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
652,Melvin Frazier,"$13,294","$13,294",NaN,NaN,"$1,416,852","$1,502,883","$1,050,000","$1,132,116",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
curry = test[test['Player'] == 'Stephen Curry']
curry

,Player,2021/22,2021/22(*),2020/21,2020/21(*),2019/20,2019/20(*),2018/19,2018/19(*),2017/18,...,2000/01,2000/01(*),1999/00,1999/00(*),1998/99,1998/99(*),1997/98,1997/98(*),1996/97,1996/97(*)
0,Stephen Curry,"$45,780,966","$45,780,966","$43,006,362","$45,325,029","$40,231,758","$42,674,629","$37,457,154","$40,386,520","$34,682,550",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
test = dataframe_list[0].append(dataframe_list[1], ignore_index=True)
test[650:700]

In [ ]:
player1 = salaries[:][salaries['Player'].notna()]
player1

In [ ]:
test = dataframe_list[0][dataframe_list[0]['Player'] == 'Stephen Curry']
test

In [ ]:
test2 = dataframe_list[1][dataframe_list[1]['Player'] == 'Stephen Curry']
test2

In [ ]:
test3 = pd.merge(test, test2, on='Player', how='right')

In [ ]:
test3

In [ ]:
curry = pd.read_csv('curry.csv', encoding='utf-8', index_col=[0])

In [ ]:
curry

In [ ]:
curry_sal = pd.merge(curry, test3, left_on="PLAYER", right_on="Player")
curry_sal

In [ ]:
curry_sal2 = pd.merge(curry, test3.set_index("Player"), left_on="PLAYER", right_index=True)
curry_sal2